@import '../SCSS/func';
@import '../SCSS/variables';

.content {
  max-width: 1000px;
  margin: 60px auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 25px;
  padding-right: 10px;
}

.empty {
  margin-top: 60px;
  text-align: center;
  span {
    color: $color-main-dark;
  }
}
