@import '../SCSS/variables';

.btnBookamrk {
  // position: absolute;
  //top: 7px;
  // right: 17px;
  width: 40px;
  height: 35px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 17px;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  fill: none;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.btnBookamrk:active {
  top: 10px;
  right: 7px;
}

.btnBookamrk:hover {
  background-color: $color-main;
}

.bookmarkFill {
  fill: $color-main-dark;
}
