@import '../SCSS/variables';

.categoriesHome {
  margin-top: 60px;
}

.title {
}
.title::before {
  content: '';
  display: inline-block;
  margin-right: 15px;
  position: relative;
  top: -1px;
  background-image: url('../../public/folder.svg');
  width: 30px;
  height: 23px;
}

.content {
  margin-top: 40px;
}

.listItems {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 250px));

  justify-content: space-around;
  gap: 30px;
  margin-top: 30px;
  padding-left: 10px;
  // flex-wrap: wrap;
  @media (max-width: 925px) {
    grid-template-columns: repeat(4, minmax(150px, 250px));
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, minmax(150px, 250px));
  }
  @media (max-width: 563px) {
    grid-template-columns: repeat(2, minmax(150px, 200px));
  }
}

.morePosition {
  margin-top: 20px;
  text-align: right;
}
