*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.listReset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btnReset {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.colorRed {
  color: green;
}
